// Variables ------------------------
$prime-color: #2d3945;
$sec-color: #eff0f1;
$btn-color: #4ebbb5;

$desktop: 768px;
$max-width: 600px;

// Snippets ------------------------

// ABOVE - media independent code
// BELOW - media dependent code

@media (min-width: $desktop) {

}

// Mixins ------------------------
@mixin fc { // for flex-centered
  display: flex;
  justify-content: center;
  align-items: center;
}

// Reset-ish ------------------------
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  // ABOVE - media independent code
  // BELOW - media dependent code
}

// Header ------------------------

header {
  text-align: center;

  // ABOVE - media independent code
  // BELOW - media dependent code
  @media (min-width: $desktop) {

  }

  h1 {
    background: $prime-color;
    color: white;
    text-transform: uppercase;
    width: 100vw;
    @include fc;
    // ABOVE - media independent code
    // BELOW - media dependent code
    height: 10vw;
    @media (min-width: $desktop) {
      height: 150px;
    }
  }
}

.divider {
  border-top: $prime-color 5px solid;
  position: relative;
  &::before {
  position: absolute;
  content: "";
  border-top: $prime-color 2px solid;
  top: 5px;
  bottom: 0;
  left: 0px;
  right: 0px;
  }
}

// Footer ------------------------
footer {
text-align: center;
// ABOVE - media independent code
// BELOW - media dependent code
  @media (min-width: $desktop) {

  }
}

// Padding, Margins, & Container Widths ------------------------
body > :nth-child(1n) { // Vertical Spacing Between Sections
  margin-bottom: 10vw;

  @media (min-width: $desktop) {
    margin-bottom: 2em;
  }
}

body > :nth-child(1n) :nth-child(1n):not(:last-child) { // Vertical Spacing Between Items
  margin-bottom: 5vw;
  margin-right: 0;
  @media (min-width: $desktop) {
    margin-bottom: 25px;
  }
}

body > :nth-child(1n):not(header) { // Selects Lv. 1 Containers that aren't the header
  // I did this because the header has a #blue bar that spans 100% of web-page
  width: 90%;
  max-width: $max-width;
}

header {
  padding: 0 5%;
}
