body {
  font-family: 'Merriweather', serif;
  color: rgba(0,0,0, .5);
  // ABOVE - media independent code
  // BELOW - media dependent code
  font-size: 3vw;
  @media (min-width: $desktop) {
    font-size: 1em;
  }
}

h1, h2,
legend, button {
  font-weight: 900;
  // ABOVE - media independent code
  // BELOW - media dependent code
  @media (min-width: $desktop) {

  }
}

h1 {
  // ABOVE - media independent code
  // BELOW - media dependent code
  font-size: 4.5vw;
  @media (min-width: $desktop) {
    font-size: 2em;
  }
}

h2, legend {
  color: $prime-color;
  // ABOVE - media independent code
  // BELOW - media dependent code
  font-size: 3.5vw;
  @media (min-width: $desktop) {
    font-size: 1.5em;
  }
}

select {
  font-family: 'Merriweather', serif;
  // ABOVE - media independent code
  // BELOW - media dependent code
  font-size: 3vw;
  @media (min-width: $desktop) {
    font-size: 1em;
  }
}

textarea {
  font-family: 'Merriweather', serif;
  // ABOVE - media independent code
  // BELOW - media dependent code
  @media (min-width: $desktop) {

  }
}

button {
  // ABOVE - media independent code
  // BELOW - media dependent code
  font-size: 4vw;
  font-family: 'Merriweather', serif;
  color: white;
  @media (min-width: $desktop) {
    font-size: 1.5em;
  }
}

footer p {
  font-style: italic;
  // ABOVE - media independent code
  // BELOW - media dependent code
  @media (min-width: $desktop) {

  }
}

input {
  font-family: 'Merriweather', serif;
  // ABOVE - media independent code
  // BELOW - media dependent code
  font-size: 4vw;
  @media (min-width: $desktop) {
    font-size: 1em;
  }
}

::placeholder {
  text-transform: capitalize;
  font-family: 'Merriweather', serif;
  text-align: right;
  font-style: italic;
}
